<h1>About</h1>

<br><br>
<h3>Goal</h3>
<br>
<p>
  My mission is to create a free fitness app with a basic nutrition plan cartailed to the needs of the average gym goer. 
  <br>
  90% of people at the gym need a basic plan with the adequite nutrition plan. Too many people will default to paying 
  <br>
  hundreds of pounds to personal trainers when they haven't mastered the basics
</p>
<br>
<h3>Back story</h3>
<br>
<p>
  A friend of mine recently paid for a PT's services which included a 12 week strength program and a nutrition plan. <br>
  The nutrition plan was £400 and the strength program was £300... <br>
  
</p>