<h1>BMI</h1>
<br>
<div class="bmi">
 <ul>
  <li>
    <input type="number" id="weight" placeholder="Weight" name="weight">
  </li>
  <br>
  <li>
    <input type="number" id="height" placeholder="Height" name="height">
  </li>
  <br>
  <script type="text/javascript">
    function bmiCalculator(){
      var h = document.getElementById("height").value;
      var w = document.getElementById("weight").value;
      var bmi =  h/(w*w)
      document.getElementById("result").innerHTML="Your BMI is: " + bmi;
    }
  </script>
  <li class="button">
  <button onclick="bmiCalculator()">Calculate BMI</button>
  <br><br>
  <p id="result"></p>
</li>
 </ul>
</div>