<h1>BMI</h1>
<br>
<form action="/my-handling-form-page" method="post" class="bmi">
 <ul>
  <li>
    <label for="name">Name:</label>
    <input type="text" id="name" name="user_name">
  </li>
  <br>
  <li>
    <label for="mail">E-mail:</label>
    <input type="email" id="mail" name="user_email">
  </li>
  <br>
  <li>
    <label for="weight">Weight:</label>
    <input type="number" id="weight" name="weight"></textarea>
  </li>
  <br>
  <li>
    <label for="height">Height:</label>
    <input type="number" id="height" name="height"></textarea>
  </li>
 </ul>
</form>